@model IEnumerable<Vac_T.Models.JobOffer>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin") || User.IsInRole("ROLE_EMPLOYER"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var item in Model) {
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-3">
                    <img src="~/assets/logos/php-hex.png" style="height: 80px" class="img-responsive" />
                </div>
                <div class="col-9">
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <a asp-action="Details" asp-route-id="@item.Id">
                <i class="fas fa-arrow-right" style="font-size: 48px; color:white;"></i>
            </a>
        </div>
    </div>
}
