html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--orange);
}


:root {
    /* FONTS */
    --titles: "bebas-neue";
    --headings: "roboto-condensed";
    --regular: "Arial";
    /* COLORS */
    --gray: #333333;
    --orange: #F15A24;
    --white: #FFF;
    --black: #000;
}

h1{
    font-family: var(--titles);
}
h2{
    color: white;
    font-family: var(--headings);
}

.bg-gray {
    background-color: var(--gray);
}
.bg-orange {
    background-color: var(--orange);
}